<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-label>Nome Cliente:</ion-label>
    <ion-input type="text" value={{nome}}></ion-input>
    <ion-label>Data:</ion-label>
    <ion-input type="text" value={{data}}></ion-input>
    <ion-label>Forma Pagamento:</ion-label>
    <ion-input type="text" value={{frmpag}}></ion-input>
  </ion-list>

</ion-content>
