<!--
  Generated template for the UsuarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Usuário</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list >
    <ion-item>
      <ion-label stacked>Mensagem:{{beer.Mensagem}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label stacked >Codigo</ion-label>
      <ion-input type="text" [(ngModel)]="codigo" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input type="text" [(ngModel)]="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Senha</ion-label>
      <ion-input type="text" [(ngModel)]="senha"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Telefone</ion-label>
      <ion-input type="text" [(ngModel)]="telefone"></ion-input>
    </ion-item>
    <button ion-button large (click)="Salvar()">Salvar</button>
  </ion-list>
</ion-content>
