<ion-header>
  <ion-navbar>
    <ion-title>Menu Principal</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
    <ion-list >

      <ion-item>
        <ion-label stacked>Nome Cliente</ion-label>
        <ion-input [(ngModel)]="nome" type="text" value="Fernando Bezerra" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Data Pedido</ion-label>
        <ion-input [(ngModel)]="data" type="text" value=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Forma Pagamento</ion-label>
        <ion-input [(ngModel)]="frmpag" type="text" value=""></ion-input>
      </ion-item>
      
    </ion-list>
    <!-- <button ion-button color="secondary" full>Salvar</button> -->
    <ion-buttons start>
      <button ion-button icon-only color="secondary" full (click)="Salvar()">
        <ion-icon name="ios-done-all-outline"></ion-icon>
        Salvar
      </button>
    </ion-buttons>

  
  <!-- <h2>Welcome to Ionic!</h2>
  <p>
    This starter project comes with simple tabs-based layout for apps
    that are going to primarily use a Tabbed UI.
  </p>
  <p>
    Take a look at the <code>src/pages/</code> directory to add or change tabs,
    update any existing page or create new pages.
  </p> -->
</ion-content>
